img {
    width: 150px;
    border-radius: 10px;
  }
  
  .form-margin {
    margin-bottom: 12px;
  }
  
  .cart-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  
  .cart-item-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    margin: 10px;
  }
  
  .number-input {
    width:20%;
    height: fit-content;
    text-align: center;
    margin: 10px;
    
  }
  
  .cart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 64px;
  }
  
  .cart-panel {
    margin:20px
  }

  .total{
    font-size: larger;
    position:relative;
    bottom: 0;
    text-align: center;
    background-color:#dafeff;
    border-radius: 8px;
    width :200px;
  }
  .input-btn{
    display: flex;
    height: auto;
    
  }
  .empty-cart-message {
    display: flex;
    justify-content: center;
   margin: 20px;
   
    font-size: medium;
  }

  .button{
    align-items: center;
    background-color: #c4e1f5;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    margin: 10px;
    justify-content: center;
    line-height: 24px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 30px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button:hover:after {
    transform: translate(0, 0);
  }
  
  .button:active {
    background-color: #dafeff;
    outline: 0;
  }

 
  
  .button:hover {
    outline: 0;
  }
   