<div class="cart-container">
  <div class="cart-panel">
    <p *ngIf="empty" class="empty-cart-message">The cart is empty</p>
    <div *ngFor="let item of cart; let i = index" class="cart-item">
      <img src="{{ item.url }}" />
      <div class="cart-item-details">
        <p>{{ item.name }}</p>
        <p>$ {{ item.price }}</p>
        <p>Amount</p>
        <div class="input-btn">
          <input
            matInput
            class="number-input"
            required
            type="text"
            [defaultValue]="item.count"
            [(ngModel)]="item.count"
            (ngModelChange)="countChange(item.count, i)"
            type="number"
            min="0"
          />

          <button class="button" (click)="removeButton(i)">Remove</button>
        </div>
      </div>
    </div>
    <div class="total">
      <p>Total : $ {{ cartTotal }}</p>
    </div>
  </div>
  <div *ngIf="_auth.isAuthenticated$ | async; else loginMessage">
    <form #form="ngForm" (ngSubmit)="onSubmit()" class="form-margin">
      <p>Full name</p>
      <input
        required
        placeholder="(minimum 3 characters)"
        minlength="3"
        type="text"
        [(ngModel)]="name"
        name="name"
        #customerName="ngModel"
      />
      <div *ngIf="customerName.invalid && customerName.dirty">
        <br />
        <div class="formValidator">Please enter minimum of 3 characters</div>
      </div>

      <p>Address</p>
      <input
        [(ngModel)]="address"
        placeholder="Address"
        name="address"
        minlength="10"
        type="text"
        required
        #customerAddress="ngModel"
      />
      <div>
        <div
          *ngIf="customerAddress.invalid && customerAddress.dirty"
          class="formValidator"
        >
          Please enter minimum 10 characters
        </div>
      </div>
      <p>Credit card number</p>
      <input
        #credit="ngModel"
        type="number"
        min="1000000000000000"
        max="9999999999999999"
        maxlength="16"
        placeholder="(16 digits card number)"
        required
        [(ngModel)]="creditCard"
        name="creditcard"
      />

      <p>We will never share your payment information.</p>
      <div>
        <div *ngIf="credit.invalid && credit.dirty" class="formValidator">
          Creadit card number must be 16 digits
        </div>
      </div>

      <button
        *ngIf="form.valid"
        [disabled]="form.invalid"
        type="submit"
        class="button"
      >
        Submit
      </button>
      <p *ngIf="form.invalid" class="formValidator">
        Please enter correct values for input fields to submit your order
      </p>
    </form>
  </div>
  <ng-template #loginMessage>
    <div>
      <button class="button" (click)="_auth.loginWithPopup()">
        Proceed to check out
      </button>
    </div>
  </ng-template>
</div>
