<div class="cart-container">
  <div class="cart-panel">
    <p *ngIf="!empty" class="empty-cart-message">The cart is empty</p>
    <div *ngFor="let item of cart" class="cart-item">
      <img src="{{ item.url }}" />
      <div class="cart-item-details">
        <p>{{ item.name }}</p>
        <p>$ {{ item.price }}</p>
        <p>Amount</p>
        <input
          matInput
          class="number-input"
          required
          type="text"
          [defaultValue]="item.count"
        />
      </div>
    </div>
    <div class="total">
      <p>Total : $ {{ total() }}</p>
    </div>
  </div>
  <div>
    <form class="form-margin">
      <p>Full name</p>
      <input
        required
        placeholder="minimum 3 characters"
        minlength="3"
        type="text"
      />
      <p>Address</p>
      <input type="text" required />
      <p>Creadit card number</p>
      <input
        type="text"
        minlength="16"
        maxlength="16"
        placeholder="please enter 16 digits"
        required
      />
      <h4></h4>
      <p>We will never share your payment information.</p>
      <button class="button">Submit</button>
    </form>
  </div>
</div>
