<div class="cart-container">
    
    <div class="cart-panel">
        <div class="cart-item">
            <img src="https://images.unsplash.com/photo-1544947950-fa07a98d237f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80">
            <div class="cart-item-details">
                <p>BackPack</p>
                <p>$ 79.99</p>
                <p>Amount</p>
                <input  class="number-input" required type="text" >
            </div>
        </div>
        <div class="cart-item">
            <img src="https://images.unsplash.com/photo-1544947950-fa07a98d237f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80">
            <div class="cart-item-details">
                <p>BackPack</p>
                <p>$ 79.99</p>
                <p>Amount</p>
                <input  class="number-input" required type="text" >
            </div>
       
        </div>

    </div>
    <div class="cart-panel">
        <form class="form-margin">
            <p>Full name</p>
            <input required placeholder="minimum 3 characters" minlength="3" type="text">
            <p>Address</p>
            <input type="text" required>
            <p>Creadit card number</p>
            <input type="text" minlength="16" maxlength="16" required >
            <h4>Total: $199</h4>
        <p class="empty-cart-message">we will never share your payment details with anyone else.</p>
        <button class="button">Submit</button>
        </form>
    </div>
   
</div>



