<div class="product-container">
  <dl>
    <form class="list">
      <dt>
        <a routerLink="/product/{{ itemsChild.id }}"
          ><img
            src="{{ itemsChild.url }}"
            alt="{{ itemsChild.name }}"
            class="product-image"
        /></a>
        <p>{{ itemsChild.name }}</p>
        <p>$ {{ itemsChild.price }}</p>

        <select
          class="select-input"
          [(ngModel)]="count"
          [ngModelOptions]="{ standalone: true }"
        >
          <option
            *ngFor="let number of numbers; let i = index"
            [value]="number"
          >
            {{ number }}
          </option>
        </select>

        <button
          class="button"
          role="button"
          (click)="addToCart(itemsChild, count)"
        >
          Add to cart
        </button>
      </dt>
    </form>
  </dl>
</div>
