
.header {
    text-align: center;
    background: #33B5E5;
    color: rgb(0, 0, 0);
    padding: 12px;
    border-radius:20pt;
  }



  .btn{
    color:rgb(255, 255, 255);
    background:#3588a6;
    padding:10px 20px;
    font-size:12px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
    border-radius: 5pt;
    display:inline;
    margin-left: 10px;
    border:none;
  }
  
  .btn:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background:#fff;
    color:#1b1b1b;
  }

  .button{
    align-items: center;
    background-color: #c4e1f5;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button:hover:after {
    transform: translate(0, 0);
  }
  
  .button:active {
    background-color: #dafeff;
    outline: 0;
  }
  
  .button:hover {
    outline: 0;
  }

  .btn-logout{
    color:rgb(255, 255, 255);
    background:red;
    padding:10px 20px;
    font-size:12px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
    border-radius: 5pt;
    display:inline;
    margin-left: 10px;
  }
  .btn-logout:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background:#fff;
    color:#1b1b1b;
  }

   