<div class="detail-container">
  <img class="img" src="{{ item.url }}" alt="{{ item.name }}" />
  <div class="detail-item">
    <p>{{ item.name }}</p>
    <p>$ {{ item.price }}</p>
    <p>{{ item.description }}</p>
    <select name="count" [(ngModel)]="count" class="select-input">
      <option *ngFor="let number of numbers">
        {{ number }}
      </option>
    </select>
    <button class="button" (click)="addToCart(item, count)">Add to cart</button>
    <a routerLink="/" class="button">Back to items list</a>
  </div>
</div>
